/*common  S*/
.w_35{
	width:35%;
}
.w_60{
	width:60%;
}
.mr_10{
	margin-right:10%;
}
.mt-14{
	margin-top:-0.7rem;
}
.mt-10{
	margin-top:-0.5rem;
}
.mt-30{
	margin-top:-1.5rem;
}
.mr4{
	margin-right:0.3rem;
}
.mb30{
	margin-bottom:1.5rem;
}
.mtb40{
	margin:1rem 0;
}
.pl3{
	padding-left:3rem;
}
.pl10{
	padding-left:0.5rem;
}
.c666{
	color:#666666;
}
.cf00{
	color:#ff0000;;
}
.absolute{
	position:absolute;
	width:100%;
	height:100%;
	left:0;
	top:0;
}
.errors{
	line-height:1.2rem;
	font-size:0.7rem;
	position:absolute;
	bottom:0;
	right:1rem;
	color:#cc0000;
}
.wrap_per_ins .errors{
	right:2rem;
}
.errorscenter{
	line-height:1.5rem;
	font-size:0.7rem;
	color:#cc0000;
	text-align:center;
	position:relative;
	bottom:-0.8rem;
}
body{
	color:#333333;
}
/*common  E*/

/*TabMenu  S*/
.TabMenu{
	height:2rem;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	background:#f5f5f5;
}
.TabMenu li{
	float:left;
	width:33.33%;
	height:2rem;
	line-height:2rem;
	text-align:center;;
	text-align:center;
	font-size:0.8rem;
	box-sizing:border-box;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
}
.TabMenu li:last-child{
	border-right:none;
}
.TabMenu li.active{
	color:#fff;
	background:#cc0000;
}
/*TabMenu  E*/

.TabCon{
	margin-top:2rem;
}
/*searchCon  S*/
.searchCon li{
	margin:0 0.5rem;
}
.conImg{
	float:left;
	width:5.6rem;
	max-height:4.1rem;
	box-sizing:border-box;
	border:1px solid #cccccc;
	margin:0.87rem 0 0.44rem;
	overflow:hidden;
}
.conImg img{
	width:100%;
}
.conInfo{
	float:right;
	width:10.8rem;
	margin-top:0.8rem;
}
.infoTit{
	font-size:0.8rem;
	font-weight:normal;
	line-height:1.2rem;
}
.percentWrap{
	font-size:0.7rem;
	line-height:1rem;
	padding:0.3rem 0;
}
.percent{
	width:8rem;
	height:0.3rem;
	border-radius:0.15rem;
	background:#e4e6e5;
	overflow:hidden;
	margin-top:0.4rem;
}
.percent p{
	height:100%;
	background:#cc0000;
}
.countGroup{
	height:1.2rem;
	line-height:1.2rem;
	padding:0.15rem 0;
}
.count{
	float:left;
	font-size:0.74rem;
	line-height:1.2rem;
	color:#999;
	padding-right:0.4rem;
	margin-right:0.4rem;
	border-right:1px solid #999999;
}
span.count:last-of-type{
	border-right:none;
}
.loadMore{
	display:block;
	text-align:center;
	line-height:2rem;
	font-size:0.78rem;
	background:#ffffff;
	color:#cc0000;
	margin-bottom:0.4rem;
}
/*searchCon  E*/

/*title*/
.title{
	height:2rem;
	line-height:2rem;
	font-size:0.8rem;
	padding:0 0.5rem;
	border-bottom:2px solid #cccccc;
	margin-bottom:1rem;
	color:#333333;
}
.title span{
	font-size:0.7rem;
	padding:0 0.2rem 0 1rem;
	background:url("../img/icon/add.png") no-repeat 0 center;
	background-size:0.8rem;
	line-height:2rem;
}
/*End title*/

/*wrap_entity*/
.wrap_entity{
	margin-bottom:0px;
	font-size:0.7rem;
	padding-bottom:0.5rem;
	color:#333333;
}
.wrap_entity dd{
	padding:0 0.5rem 1.2rem;
	position:relative;
}
.wrap_entity dd > span{
	line-height:1.8rem;
	float:left;
	margin-right:0.3rem;
	vertical-align:top;
}
.wrap_entity dd input[type="text"], .wrap_entity dd textarea{
	border:1px solid #666666;
	text-indent:0.7rem;
	width:13rem;
	font-size:0.7rem;
	-webkit-appearance:none;
}
.wrap_entity dd input[type="text"]{
	height:1.8rem;
}
.wrap_entity dd textarea{
	height:3.6rem;
	line-height:1rem;
	text-indent:0;
	padding:0.3rem 0.5rem;
	box-sizing:border-box;
}
.wrap_entity .radio span{
	vertical-align:middle;
}
.wrap_entity .img_box img{
	width:30%;
	margin-right:3%;
	margin-bottom:1.5rem;
}
.wrap_entity .raise_title{
	margin:-0.6rem 0 ;
}
.raise_title p{
	border-bottom:1px solid #cccccc;
	line-height:2rem;
	font-size:0.8rem;
	color:#cc0000;
}
.raise_title .delete{
	float:right;
	width:2rem;
	height:2rem;
	background:url("../img/icon/delete.png") no-repeat center center;
	background-size:1rem;
}
.radio input{
	display:none;
}
.radio label{
	float:left;
	margin-right:1rem;
}
.radio_wrap{
	display:inline-block;
	vertical-align:middle;
}
.outCircle, .innerCircle{
	float:left;
	width:0.6rem;
	height:0.6rem;
	border-radius:50%;
	margin-right:0.5rem;
}
.outCircle{
	padding:0.1rem;
	border:2px solid #696969;
}
input[type="radio"]:checked + span .innerCircle{
	background:#cc0000;
}
.wrap_entity .ReturnType span, .wrap_entity .invoice span{
	line-height:0.8rem;
}
.contine{
	color:#cc0000;
	text-align:center;
	font-size:0.9rem;
}
.xn{
	display:none;
}
.wrap_entity .location{
	width:13rem;
}
.wrap_entity .location > select{
	width:6rem;
}
.wrap_entity .video{
	line-height:1.8rem;
	float:left;
	position:relative;
	border:1px solid #666666;
	text-indent:0.7rem;
	color:#999999;
	width:13rem;
	background:#ffffff;
	border-radius:0.1rem;
}
.wrap_entity .media{
	width:16rem;
	padding:0;
	margin:0 auto 1rem;
}
.video .video_del{
	font-size:0.7rem;
	color:#cc0000;
	margin-right:0.5rem;
	line-height:1.8rem;
	float:right;
	position:relative;
	z-index:999;
}
.video input{
	width:100%;
	height:100%;
	opacity:0;
	position:absolute;
	left:0;
	top:0;
}
/*End wrap_entity*/

/*file*/
.file{
	min-height:2rem;
}
.filePic{
	position:relative;
	display:inline-block;
	min-height:2rem;
	width:13rem;
	box-sizing:border-box;
}
.filePicBg{
	background:url("../img/icon/addPic.png") no-repeat;
	background-size:contain;
}
.file .filePic span{
	font-size:0.6rem;
	line-height:1rem;
	margin:0;
}
.file img{
	width:100%;
}
.file input[type="file"]{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
	opacity:0;
}
/*End file*/

/*submit*/
.submit{
	text-align:center;
}
.submit input{
	color:#ffffff;
	border:none;
	height:1.8rem;
	line-height:1.8rem;
	border-radius:0.2rem;
	font-size:0.8rem;
	background:#999999;
	-webkit-appearance:none;
}
.submit input.active{
	background:#cc0000;
}
/*End submit*/

/*location*/
.location{
	height:1.8rem;
	display:inline-block;
}
.location > select{
	width:7rem;
	text-indent:0.4rem;
	height:1.8rem;
	line-height:1.8rem;
	font-size:0.7rem;
	border:1px solid #666666;
	-webkit-appearance:none;
	background:url("../img/icon/select.png") no-repeat 90% center;
	background-size:0.6rem;
	background-color:#ffffff;
}
/*End location*/

/*wrap_per_ins*/
.wrap_per_ins{
	font-size:0.7rem;
	color:#333333;
}
.wrap_per_ins dd, .tab_wrap{
	padding:0 0 1.2rem;
	text-align:center;
	position:relative;
}
.wrap_per_ins input[type="text"], .wrap_per_ins textarea{
	border:1px solid #666666;
	text-indent:0.4rem;
	width:15rem;
	font-size:0.7rem;
	-webkit-appearance:none;
}
.wrap_per_ins input[type="text"]{
	height:1.8rem;
}
.wrap_per_ins textarea{
	height:3.6rem;
	line-height:1.8rem;
}
.wrap_per_ins .location{
	width:15rem;
}
.tab{
	display:inline-block;
	width:5.8rem;
	height:1.5rem;
}
.tab a{
	float:left;
	color:#cc0000;
	height:1.5rem;
	line-height:1.5rem;
	font-size:0.7rem;
	width:2.8rem;
	background-color:#ffffff;
	border:1px solid #cc0000;
}
.tab .active{
	color:#ffffff;
	background:#cc0000;
}
.brl{
	border-radius:0.2rem 0 0 0.2rem;
}
.brr{
	border-radius:0 0.2rem 0.2rem 0;
}
.ins{
	display:none;
}
/*End wrap_per_ins*/

/*uppic*/
.uppic{
	text-align:center;
	padding-bottom:1.5rem;
	color:#333333;
}
.uppic span{
	font-size:0.7rem;
}
.imgpre{
	display:inline-block;
	width:4rem;
	height:2.6rem;
	border:1px solid #666666;
	vertical-align:middle;
	margin:0 0.7rem;
}
.imgpre img{
	width:100%;
	height:100%;
}
.upload{
	display:inline-block;
	width:2.7rem;
	height:1.4rem;
	line-height:1.4rem;
	border-radius:0.2rem;
	background:#cc0000;
	vertical-align:middle;
	position:relative;
	font-size:0.7rem;
	color:#ffffff;
}
.upload input{
	width:100%;
	height:100%;
	opacity:0;
	position:absolute;
	left:0;
	top:0;
}
/*End uppic*/

/*wrap_type*/
.wrap_type{
	padding-left:1.2rem;
	color:#333333;
}
.wrap_type li{
	float:left;
	width:4.7rem;
	margin-right:0.8rem;
	font-size:0.7rem;
	text-align:center;
	border:2px solid #cccccc;
	line-height:1.5rem;
	margin-bottom:1rem;
	box-sizing:border-box;
}
.wrap_type .active{
	border:2px solid #cc0000;
	background:url("../img/icon/right_top.png") no-repeat right top;
	background-size:0.8rem;
}
/*End wrap_type*/

/*wrap_edit*/
.wrap_edit{
}
.wrap_edit dd{
	border:1px solid #cccccc;
	width:86%;
	margin:0 auto 1.5rem;
	box-sizing:border-box;
}
.edit_tit{
	height:1.8rem;
	line-height:1.8rem;
	overflow:hidden;
	position:relative;
	font-size:0.7rem;
	text-indent:0.5rem;
}
.edit_tit .tit_show, .edit_tit input{
	font-size:0.7rem;
	text-indent:0.5rem;
	color:#666666;
	width:10rem;
	height:1.8rem;
	box-sizing:border-box;
}
.edit_tit span{
	font-size:0.7rem;
	color:#cc0000;
	margin-right:0.5rem;
}
.edit_tit_num{
	padding:0.2rem 0.5rem;
	text-align:right;
	color:#999999;
	font-size:0.7rem;
}
.edit_con{
	font-size:0.7rem;
	line-height:1rem;
	overflow:hidden;
	position:relative;
}
.edit_con .con_show, .edit_con textarea{
	width:100%;
	padding:0.3rem 0.5rem;
	color:#999999;
	margin-top:-0.5rem;
	box-sizing:border-box;
	word-break:break-all;
}
.wrap_edit .active{
	padding:0.3rem;
}
.wrap_edit .active .edit_tit{
	background:#fff;
	border:1px solid #666666;
}
.wrap_edit .active .edit_tit .tit_show, .wrap_edit .active .edit_con .con_show{
	display:none;
}
.wrap_edit .active .edit_tit input{
	display:block;
}
.wrap_edit .active .edit_tit_num{
	display:block;
}
.wrap_edit .active .edit_con textarea{
	height:4.5rem;
	display:block;
	border:1px solid #666666;
	margin-top:0;
	font-size:0.7rem;
}
.edit_pic{
	position:relative;
	width:100%;
}
.bg_add{
	width:100%;
	height:2.5rem;
	background:url("../img/icon/addPic.png") no-repeat center 0.5rem;
	background-size:2.5rem;
}
.edit_pic p{
	font-size:0.6rem;
	text-align:center;
	line-height:1.5rem;
}
.edit_pic img{
	width:100%;
}
.edit_pic input[type="file"]{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:999;
	opacity:0;
}
/*End wrap_edit*/
