.wrap_preview{
	color:#333333;
}
.per_info{
	padding:1rem 1rem 0.7rem;
}
.per_info .imgWrap{
	float:left;
	width:4.2rem;
	height:4.2rem;
	border-radius:50%;
	overflow:hidden;
	background:#ccc;
	margin-right:1rem;
}
.per_info img{
	width:100%;
	height:100%;
}
.text_info{
	float:left;
	width:10.8rem;
}
.text_info p{
	font-size:0.84rem;
	line-height:2.2rem;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
}
.text_info span{
	font-size:0.74rem;
	line-height:2rem;
}
.text_info strong{
	color:#cc0000;
}
.text_info .concern{
	padding:0 0.2rem 0 1rem;
	background:url("../img/icon/concern.png") no-repeat 0 center;
	background-size:0.8rem;
}
.text_info .concern.active{
	background:url("../img/icon/concerning.png") no-repeat 0 center;
	background-size:0.8rem;
}
.show_pic{
	position:relative;
	margin:0 1rem 0.4rem;
}
.show_pic .raising{
	position:absolute;
	left:0;
	top:0;
	width:4rem;
	height:4rem;
	background:url("../img/icon/raiseing.png") no-repeat;
	background-size:100%;
}
.show_pic img{
	width:100%;
	min-height:5rem;
}
.prograss{
	padding:0 1.7rem;
}
.prograss > p{
	font-size:0.7rem;
	line-height:2rem;
}
.prograss > p span{
	font-size:1.2rem;
	margin-right:0.3rem;
}
.prograss > p strong{
	color:#cc0000;
}
.percent_box{
	font-size:0.7rem;
	line-height:1.4rem;
	margin-bottom:1rem;
	margin-top:-0.4rem;
}
.percent_box span{
	color:#999999;
}
.percent_box strong{
	color:#333333;
}
.percent{
	width:100%;
	height:0.5rem;
	border-radius:0.25rem;
	background:#cccccc;
	overflow:hidden;
}
.supportBtn{
	height:2rem;
	line-height:2rem;
	font-size:0.84rem;
	border-radius:0.2rem;
	color:#ffffff;
	text-align:center;
}
.support{
	background:#cc0000;
}
.dissupport{
	background:#999;;
}
.percent p{
	height:100%;
	background:#cc0000;
}
.tip{
	line-height:1.5rem;
	font-size:0.7rem;
	color:#999999;
	padding:0.3rem 0;
}
.tip > li{
	float:left;
	padding: 0 0.5rem 0 0.1rem;
}
.tip_ico{
	float:left;
	width:1rem;
	height:1.5rem;
	margin-right:0.2rem;
}
.tip_ico1{
	background:url("../img/icon/tip1.png") no-repeat center center /contain ;
}
.tip_ico2{
	background:url("../img/icon/tip2.png") no-repeat center center /contain ;
}
.tip_ico3{
	background:url("../img/icon/tip3.png") no-repeat center center /contain ;
}
.tip_info{margin-right:0.2rem;}
.detial_info{
	border-bottom:1px solid #ccc;
}
.detial_info li{
	padding:0 0.8rem;
	font-size:0.76rem;
	line-height:2.2rem;
	height:2.2rem;
	border-top:1px solid #ccc;
}
.detial_info li p{
	background:url("../img/icon/right.png") no-repeat right center;
	background-size:0.4rem;
}

.wrap_entity .raise_title{
	margin:-1.3rem 0 -0.7rem;
}
.raise_title p{
	border-bottom:1px solid #cccccc;
	line-height:2rem;
	font-size:0.8rem;
	color:#cc0000;
}
.raise_title .delete{
	float:right;
	width:2rem;
	height:2rem;
	background:url("../img/icon/delete.png") no-repeat center center;
	background-size:1rem;
}
