.wrap_preview{
	color:#333333;
}
.per_info{
	padding:20px 14px 26px;
	height:80px;
}
.per_info img{
	height:100%;
	margin-right:20px;
}
.text_info p{
	padding-left:4px;
	font-size:16px;
	line-height:26px;
	min-height:50px;
}
.text_info span{
	font-size:12px;
	line-height:38px;
}
.text_info strong{
	color:#cc0000;
}
.text_info .concern{
	padding:0 4px 0 20px;
	background:url("../img/icon/concern.png") no-repeat 0 center;
	background-size:16px;
}
.text_info .concern.active{
	background:url("../img/icon/concerning.png") no-repeat 0 center;
	background-size:16px;
}
.show_pic{
	position:relative;
	margin:0 14px 16px 14px;
}
.show_pic .raising{
	position:absolute;
	left:0;
	top:0;
	width:80px;
	height:80px;
	background:url("../img/icon/raiseing.png") no-repeat;
	background-size:100%;
}
.show_pic img{
	width:100%;
	min-height:100px;
}
.prograss{
	padding:0 34px;
}
.prograss > p{
	font-size:12px;
	line-height:36px;
}
.prograss > p span{
	font-size:24px;
	margin-right:6px;
}
.prograss > p strong{
	color:#cc0000;
}
.percent_box{
	font-size:12px;
	line-height:26px;
	margin-bottom:20px;
	margin-top:-8px;
}
.percent_box span{
	color:#999999;
}
.percent_box strong{
	color:#333333;
}
.percent{
	width:100%;
	height:10px;
	border-radius:5px;
	background:#cccccc;
	overflow:hidden;
}
.supportBtn{
	height:36px;
	line-height:36px;
	font-size:14px;
	border-radius:4px;
	color:#ffffff;
	text-align:center;
}
.support{
	background:#cc0000;
}
.dissupport{
	background:#999;;
}
.percent p{
	height:100%;
	background:#cc0000;
}
.tip{
	line-height:30px;
	font-size:12px;
	color:#999999;
	padding:6px 0;
}
.tip > li{
	float:left;
	padding: 0 10px 0 2px;
}
.tip_ico{
	float:left;
	width:16px;
	height:30px;
	margin-right:4px;
}
.tip_ico1{
	background:url("../img/icon/tip1.png") no-repeat center center /contain ;
}
.tip_ico2{
	background:url("../img/icon/tip2.png") no-repeat center center /contain ;
}
.tip_ico3{
	background:url("../img/icon/tip3.png") no-repeat center center /contain ;
}
.tip_info{margin-right:4px;}
.detial_info{
	border-bottom:1px solid #ccc;
}
.detial_info li{
	padding:0 14px;
	font-size:14px;
	line-height:40px;
	height:40px;
	border-top:1px solid #ccc;
}
.detial_info li p{
	background:url("../img/icon/right.png") no-repeat right center;
	background-size:8px;
}

.wrap_entity .raise_title{
	margin:-26px 0 -12px;
}
.raise_title p{
	border-bottom:1px solid #cccccc;
	line-height:40px;
	font-size:16px;
	color:#cc0000;
}
.raise_title .delete{
	float:right;
	width:40px;
	height:40px;
	background:url("../img/icon/delete.png") no-repeat center center;
	background-size:20px;
}
