<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>高级检索</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <!-- 忽略页面中的数字识别为电话号码,email识别 -->
  <meta name="format-detection" content="telephone=no, email=no"/>
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit"/>
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- windows phone 点击无高光 -->
  <!--<meta name="msapplication-tap-highlight" content="no">-->
  <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
  <link rel="stylesheet" href="../css/AdvancedSearch.css" type="text/css"/>
  <script type="text/javascript" src="../js/viewport_rem.js"></script>
  <script type="text/javascript" src="../js/vue.min.js"></script>
  <script type="text/javascript" src="../js/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
  <ul class="searchTit clearfix">
    <li v-for="(item,index) in searchTit" v-on:click="switchIndex(event,index,tabIndex)">
      <p class="searchChoice">{{item.title}}</p>
      <ul class="choiceList" v-show=" tabIndex.num == index">
        <li v-bind:class="{act:index == 0}" v-for="(list,index) in item.list"
            v-on:click="searchCriteria(event,item,list)">{{list}}
        </li>
      </ul>
    </li>
  </ul>
  <ul class="searchCon">
    <li class="clearfix" v-for="item in starter">
      <div class="conImg">
        <img v-bind:src="item.picsrc" alt="pic"/>
      </div>
      <div class="conInfo">
        <h2 class="infoTit">{{item.title}}</h2>
        <div class="percentWrap clearfix">
          <div class="percent fl">
            <p v-bind:style="'width:'+item.progress"></p>
          </div>
          <span class="red fr">{{item.progress}}</span>
        </div>
        <div class="countGroup">
          <span class="count">已筹资<span class="red">￥{{item.raiseAmount}}</span></span>
          <span class="count">支持数<span class="red">{{item.support}}</span></span>
        </div>
      </div>
    </li>
  </ul>
  <div class="update" v-if="more == 1">加载更多
    <div data-loader="circle"></div>
  </div>
  <div class="update" v-if="more == 2">已经到底啦~~</div>
</div>
</body>
<script type="text/javascript" src="../js/AdvancedSearch.js"></script>
</html>