<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>项目评论</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <!-- 忽略页面中的数字识别为电话号码,email识别 -->
  <meta name="format-detection" content="telephone=no, email=no"/>
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit"/>
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- windows phone 点击无高光 -->
  <!--<meta name="msapplication-tap-highlight" content="no">-->
  <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
  <link rel="stylesheet" href="../css/productInfo.css" type="text/css"/>
  <script type="text/javascript" src="../js/viewport_rem.js"></script>
  <script type="text/javascript" src="../js/vue.min.js"></script>
  <script type="text/javascript" src="../js/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
  <ul class="comment" v-if="starter.length" v-on:click="changestate">
    <li class="clearfix" v-for="(item,index) in starter">
      <img class="headerPic" v-bind:src="item.headPic" alt="pic"/>
      <div class="infobox">
        <p class="title">{{item.commentName}}
          <span class="del" v-on:click="delComment(item,index)" v-if="( userName == item.commentName )"></span>
        </p>
        <p class="info">{{item.comment}}</p>
        <div class="Interaction">
          <span class="time">{{item.time}}</span>
          <span class="commentBtn" v-on:click="repalycomment(event,item,index)">回复</span>
          <span class="zan" v-bind:class="{'act':item.zan}" v-on:click="zan(item)">赞({{item.zanNum | zanNum}})</span>
        </div>
        <ul class="commentList">
          <li v-for="(list,indexDiscuss) in item.discuss" v-on:click="repalyrepaly(event,list,indexDiscuss,item,index)">
            <span class="clBlue">{{list.proactive}}</span>
            <span v-if="list.passive">回复</span>
            <span class="clBlue" v-if="list.passive">{{list.passive}}</span>
            <span class="ml2">：{{list.content}}</span>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <div style="position:absolute;left:0;right:0;top:40%;text-align:center;" v-if="!starter.length">还没有评论,快来抢沙发吧!</div>
  <div class="commentText" v-if="state">
    <input class="text" type="text" placeholder="评论" v-model="commentText" autofocus>
    <input class="sure" type="button" value="评论" v-on:click="comment()">
  </div>
  <div class="commentText" v-if="!state">
    <input id="replyText" class="text" type="text" v-bind:placeholder="placeholder" v-model="replyText" autofocus>
    <input class="sure" type="button" value="回复" v-on:click="repaly()">
  </div>
  <div class="mask" v-show="confirm">
    <div class="confirm">
      <div class="confirm-title">信息
        <span class="confirm-close" v-on:click="closeMask"></span>
      </div>
      <div class="confirm-content">您确定要删除词条回复？</div>
      <div class="confirm-btnwrap">
        <a class="confirm-btn" v-on:click="delRepaly">确定</a>
        <a class="confirm-btn" v-on:click="closeMask">取消</a>
      </div>
    </div>
  </div>
  <div class="tipWrap" v-show="tip">
    <div class="tip">{{tip}}</div>
  </div>
</div>
</body>
<script type="text/javascript" src="../js/comment.js"></script>
</html>