<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>进度</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <!-- 忽略页面中的数字识别为电话号码,email识别 -->
  <meta name="format-detection" content="telephone=no, email=no"/>
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit"/>
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- windows phone 点击无高光 -->
  <!--<meta name="msapplication-tap-highlight" content="no">-->
  <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
  <link rel="stylesheet" href="../css/productInfo.css" type="text/css"/>
  <script type="text/javascript" src="../js/viewport_rem.js"></script>
  <script type="text/javascript" src="../js/fastclick.js"></script>
  <script type="text/javascript" src="../js/vue.min.js"></script>
  <script type="text/javascript" src="../js/vue-resource.min.js"></script>
</head>
<body>
<div id="app">
  <ul class="evolve">
    <li class="clearfix" v-for="item in starter.dynamic">
      <div class="icon"></div>
      <div class="infobox">
        <p class="title">
          {{starter.info.userName}}
          <span class="date fr">{{item.dayNum}}</span>
        </p>
        <p class="info">{{item.context}}</p>
        <div class="clearfix">
          <div class="img" v-for="src in item.pic"
               v-bind:style="'background: url('+src+') no-repeat;background-size: cover;'"></div>
        </div>
      </div>
    </li>
  </ul>
  <div class="nodata" v-if="!starter.length">还没有项目更新啊,再等等吧~~</div>
</div>
<script type="text/javascript" src="../js/evolve.js"></script>
</body>
</html>