<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>众筹</title>
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <!-- 是否启动webapp功能，会删除默认的苹果工具栏和菜单栏。 -->
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <!-- 这个主要是根据实际的页面设计的主体色为搭配来进行设置。 -->
  <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
  <!-- 忽略页面中的数字识别为电话号码,email识别 -->
  <meta name="format-detection" content="telephone=no, email=no"/>
  <!-- 启用360浏览器的极速模式(webkit) -->
  <meta name="renderer" content="webkit"/>
  <!-- 避免IE使用兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- 针对手持设备优化，主要是针对一些老的不识别viewport的浏览器，比如黑莓 -->
  <meta name="HandheldFriendly" content="true">
  <!-- 微软的老式浏览器 -->
  <meta name="MobileOptimized" content="320">
  <!-- windows phone 点击无高光 -->
  <!--<meta name="msapplication-tap-highlight" content="no">-->
  <link rel="stylesheet" href="../css/reset.css" type="text/css"/>
  <link rel="stylesheet" href="../css/preview.css" type="text/css"/>
  <script type="text/javascript" src="../js/viewport_rem.js"></script>
  <script type="text/javascript" src="../js/fastclick.js"></script>
  <script type="text/javascript" src="../js/vue.min.js"></script>
  <script type="text/javascript" src="../js/vue-resource.min.js"></script>
</head>
<body>
<div id="app" class="wrap_preview">
  <div class="per_info clearfix">
    <div class="imgWrap">
      <img class="fl" v-bind:src="info.headerPic" alt="pic">
    </div>
    <div class="text_info">
      <p v-html="info.title"></p>
      <div>
        <span class="fl">发起人：<strong>{{info.userName}}</strong></span>
        <span class="fr concern" v-bind:class="{'active':info.concern}" v-on:click="concern">关注</span>
      </div>
    </div>
  </div>
  <div class="show_pic">
    <span class="raising"></span>
    <img v-bind:src="info.coverPic" alt="pic">
  </div>
  <div class="prograss">
    <p><span><strong>{{info.supportNum}}</strong></span>支持数</p>
    <p><span>￥<strong>{{info.raisedNum}}</strong></span>已筹款</p>
    <div class="percent_box clearfix">
      <p><span class="fr"><strong>{{info.percent}}</strong></span></p>
      <div class="percent">
        <p v-bind:style="'width:'+info.percent"></p>
      </div>
      <p>
        <span class="fl">剩余<strong>{{info.remainDay}}</strong></span>
        <span class="fr">目标筹资<strong>￥{{info.target}}</strong></span>
      </p>
    </div>
    <div class="supportBtn support" v-if="!his" v-on="">立即支持</div>
    <div class="supportBtn dissupport" v-if="his">立即支持</div>
    <ul class="tip clearfix">
      <li>
        <span class="tip_ico1 tip_ico"></span>
        <span class="tip_info">{{info.type}}</span>
      </li>
      <li>
        <span class="tip_ico2 tip_ico"></span>
        <span class="tip_info">{{info.province}}</span>
        <span class="tip_info">{{info.city}}</span>
      </li>
      <li>
        <span class="tip_ico3 tip_ico"></span>
        <span class="tip_info">{{info.selfdom}}</span>
      </li>
    </ul>
  </div>
  <ul class="detial_info">
    <li v-for="item in detialInfo" v-on:click="turnPage(item)"><p>{{item.title}}</p></li>
  </ul>
</div>
</body>
<script type="text/javascript" src="../js/preview.js"></script>
</html>